body {
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  font: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}
header {
  background-color: #333333;
  font-size: 28px;
  color: #eee;
}
header {
  background-color: #333333;
}
img {
  display: block;
  margin: auto;

  width: 50%;
}
